/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Common styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000428, #004e92); /* Gradient background */
    color: white; /* Text color to contrast with the background */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 3em;
}

.about, .portfolio, .contact {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background for sections */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.about h2, .portfolio h2, .contact h1 {
    text-align: center;
    color: #ffffff; /* Ensure headings are visible on the new background */
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.social-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* About page specific styles */
.about-content {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background for sections */
    border-radius: 10px;
    color: white;
}

/* Contact page specific styles */
.contact {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background for sections */
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Media queries */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
